body{
	min-width: 720px;
	background: black;
}


ul{
	list-style: none;
	margin: 0;
	padding:0;
}

header .head-wrapper{
	width: 90%;
	margin: 0 auto;
	background: #e2dfdf;
}

.head-wrapper img{
	vertical-align: bottom;
}

.head-wrapper span{
	line-height: 80px;
	font-size: 20px;
	font-family: Helvetica;
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}

.navbar{
	margin-top: 15px;	
	float: right;
	margin-right: 10px;
}

.navbar li{
	display: block;
	float: left;
	/*padding:10px 10px;*/
}

.navbar a{
	text-decoration: none;
	color: black;
	display:block;
	padding: 10px 15px;
}

.navbar a:hover{
	background: #eef;
}

.wrapper{
	width:90%;
	background: #eee;
}

#main-wrapper{
	/*overflow: hidden;*/
	margin: 0 auto;
}
article{
	background: white;
}

aside{
	width: 500px;
	float: right;
	margin-top: 20px;
}

.article-set{
	margin-top: 20px;
	margin-right: 550px;
	margin-left : 20px;
}